@import "mocha.css";
* {
    font-family: "0xProto Nerd Font";
    font-weight: bold;
    font-size: 16px;
    color: @text;
}

window#waybar {
    padding-top: 15px;
    background: none;
}

window#waybar.empty #window {
  opacity: 0;
  min-height: 0px;
  min-width: 0px;
}

tooltip {
    background: @base;
    border-radius: 10px;
}

#workspaces {
    border-radius: 10px;
    background: @base;
    opacity: 0.8;
    margin-left: 10px;
    padding-right: 0px;
}
button {
    color: @text;
}
button:hover {
  border-radius: 10px;
	background-color: @hover-bg;
	color: @hover-fg;
}

button.active {
}


#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#tray,
#backlight {
    background: #1e1e2e;
    opacity: 0.8;
    padding: 0px 10px;
    border-right: none;
}

#temperature {
    color: @rosewater;
    border-radius: 10px 0px 0px 10px;
}

#temperature.critical {
    color: @red;
}

#tray {
    border-radius: 10px;
    margin-right: 7px;
}



#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: @peach;
    border-radius: 10px 0px 0px 10px;
    margin-left: 7px;
    border-right: none;
}

#network {
    color: @blue;
    border-radius: 10px 0px 0px 10px;
    border-left: none;
    border-right: none;
}

#bluetooth {
    color: @blue;
    border-left : none;
} 

#pulseaudio {
    color: @blue;
    border-left: none;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#battery {
    color: @green;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-left: 0px;
}

#custom-weather {
    border-radius: 0px 10px 10px 0px;
    border-left: none;
}
