[Unit]
Description=Fetch weather data for waybar once daily and on boot

[Timer]
OnBootSec=30s
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
